{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!--==Title==================================-->
     <title>MHD - Full HD Movies</title>
     <!--Stylesheet(CSS)==========================-->
     <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
     <!--==Fav-icon===============================-->
     <!--==Import-poppins-font====================-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
     <!--==Import-Monoton-Font====================-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
     <!--==Using-Font-Awesome======================-->
     <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
     <!--==CSS-Swiper==============================-->
     <link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}"/>
     <style>
         body{
             font-family:poppins;
         }
     </style>
</head>
<div id="progress">
    <span id="progress-value"></span>
</div>
<!--==Navigation===================================-->
<nav class="navigation">
    <!--menu-btn-->
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="nav-icon"></span>
    </label>
    <!--logo-->
         {% if request.user.is_authenticated %}

    <a href="{% url 'movie' %}" class="logo">
        Movies<span>.hd</span>
    </a>
             {% else %}
              <a href="" class="logo">
        Movies<span>.hd</span>
    </a>
         {% endif %}
    <!--menu-->
    <ul class="menu">
         {% if request.user.is_authenticated %}
                             <li><a href="{% url 'myaccounts' %}">             Hi {{ user.username }}!</a></li>
                               <!--==<li><a href="{%url 'singup'%}">Singup</a></li><li>
==================================-->
     <li><a href="{% url 'logout' %}">Logout</a></li>

     <li><a href="{% url 'movie' %}">Home</a></li>
        <li><a href="#">Genre</a></li>
        <li><a href="#">TV Shows</a></li>
        <li><a href="{% url 'movies' %}">Movies</a></li>

        <li><a href="{% url 'contact' %}">Contact</a></li>

                {% else%}
        <li><a href="{% url 'logins' %}">Login</a></li>

                {% endif %}

    </ul>
    <!--Search-box-->
         {% if request.user.is_authenticated %}

    <form  method="get" action="{% url 'search' %}"  class="search-box">
        <!--input-->
        <input type="text" name="query" placeholder="Search Movie" class="search-input" required/>
        <!--btn-->
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
{% else %}

    <form    class="search-box">
        <!--input-->
        <input type="text"  placeholder="Search Movie" class="search-input" required/>
        <!--btn-->
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
{% endif %}
</nav>
<body>
{% block content %}

{% endblock %}

  <footer>
            <!--footer-logo--->
            <a href="/" class="logo">
                Movies<span>hd</span>
            </a>
            <!--copyright----->
            <span class="copyright">
                Copyright 2021 - GoingToInternet
            </span>
        </footer>
        <!--==JS-Swiper====================================-->
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
        <!--==jQuery=======================================-->
        <script src="{% static 'js/jQuery.js' %}"></script>
        <script>
            /*==scroll-progress-bar======================*/
            let scrollPrecentage = () =>{
                let scrollProgress = document.getElementById("progress");
                let progressValue = document.getElementById("progress-value");
                let pos = document.documentElement.scrollTop;
                let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
                let scrollValue = Math.round(pos * 100 / calcHeight);
                scrollProgress.style.background = `conic-gradient(#e70634 ${scrollValue}%, #2b2f38 ${scrollValue}%)`;
            }
            window.onscroll = scrollPrecentage;
            window.onload = scrollPrecentage;
            /*Initialize Swiper*/
            var swiper = new Swiper(".mySwiper", {
              slidesPerView: 1,
              spaceBetween: 10,
              pagination: {
                el: ".swiper-pagination",
                clickable: true,
              },
              autoplay: {
              delay: 5000,
              disableOnInteraction: false,
            },
              navigation: {
              nextEl: ".swiper-button-next",
              prevEl: ".swiper-button-prev",
            },
              breakpoints: {
                640: {
                  slidesPerView: 2,
                  spaceBetween: 20,
                },
                768: {
                  slidesPerView: 2,
                  spaceBetween: 40,
                },
                1024: {
                  slidesPerView: 3,
                  spaceBetween: 50,
                },
              },
            });
            /*--menu-btn-fixed-when-scroll============*/
            $(window).scroll(function(){
                if($(document).scrollTop() > 20){
                    $('.navigation').addClass('fix-icon');
                }
                else{
                    $('.navigation').removeClass('fix-icon');
                }
            });
          </script>
</body>
</html>