{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <section class="movie-banner">
        <!--==img==================================-->
        <div class="m-banner-img">
            <img alt="" src="{{ lastmovies.iamge }}">
        </div>
        <!--content================================-->
        <div class="banner-container">
            <!--title-container*******************----->
            <div class="title-container">
                <!--title-top===============-->
                <div class="title-top">
                <!--title----->
                <div class="movie-title">
                    <h1>{{ movies.name }}</h1>
                </div>
                <!--more-about-movie-->
                <div class="more-about-movie">
                    <span class="quality">{{ lastmovies.quality }}</span>
                    <div class="rating">
                        {{ movies.nota }} <img alt="imbd" src="{{ lastmovies.image_imbd }}">
                    </div>
                    <span>{{ lastmovies.year }}</span>
                    <span>{{ lastmovies.time }}</span>
                </div>
                <!--language--------->
                <div class="language">
                    <span>English</span>
                </div>
                </div>
                <!--Title-botttom==========================-->
                <div class="title-bottom">
                    <!--category------->
                    <div class="category">
                        <strong>Category</strong><br/>
                        {% for tag in lastmovies.tags.all %}
                        <a href="#">{{ tag.title }}</a>,
                        {% endfor %}
                    </div>
                    <!--trailer-btn---->
                    <a href="{{ movies.video }}" class="watch-btn">Watch Trailer</a>
                </div>
            </div>
            <!--play-btn******************************--->
            <div class="play-btn-container">
                <div class="play-btn">
                    <a href="javascript:void">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
            <!--Video/full-Movie***************************-->
            <div id="play" class="play">
                <!--close-btn--->
                <a href="javascript:void" class="close-movie">
                    <i class="fas fa-times"></i>
                </a>
                <!--movie------->
                <div class="play-movie">
                               <video src="{{ movies.moviess.url }}" type="video/mp4" id="m-video" controls>
                                       <track src="{{ movies.subtitle }}" label="English" kind="subtitles" srclang="en-us" default >
                    </video>
                </div>
            </div>
        </div>
    </section>
    <!--Banner-end------------->
    <!--details=====================================-->
    <section class="movie-details">
        <strong>{{ lastmovies.name }}</strong>
        <p>{{ lastmovies.description }}</p>
    </section>
    <!--==ScreenShots===============================-->



    <!--==jQuery=======================================-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script>
        /*==scroll-progress-bar======================*/
        let scrollPrecentage = () =>{
            let scrollProgress = document.getElementById("progress");
            let progressValue = document.getElementById("progress-value");
            let pos = document.documentElement.scrollTop;
            let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollValue = Math.round(pos * 100 / calcHeight);
            scrollProgress.style.background = `conic-gradient(#e70634 ${scrollValue}%, #2b2f38 ${scrollValue}%)`;
        }
        window.onscroll = scrollPrecentage;
        window.onload = scrollPrecentage;
        /*--menu-btn-fixed-when-scroll============*/
        $(window).scroll(function(){
            if($(document).scrollTop() > 20){
                $('.navigation').addClass('fix-icon');
            }
            else{
                $('.navigation').removeClass('fix-icon');
            }
        });
        /*==popup-open==================================*/
        $(document).on('click','.play-btn a',function(){
            $('.play').addClass('active-popup');
        });
        /*==popup-Close==================================*/
        $(document).on('click','.close-movie',function(){
            $('.play').removeClass('active-popup');
        });
        /*==auto-play-when-popup-open===================*/
        $('.play-btn a').click(function(){
            $('#m-video')[0].play();
        });
        /*==Close-video-when-poppup-close==============*/
        $('.close-movie').click(function(){
            $('#m-video')[0].pause();
        });
      </script>
{% endblock %}